<div class="w-full">
    <div class="flex justify-between items-center gap-4">
        <h1 class="text-2xl font-bold">Tasks</h1>
        <p-button label="Add Task" icon="pi pi-plus" />
    </div>
   <div class=" mt-4 flex lg:flex-row flex-col h-100">
        <div class=" w-full status-card">
            <h2 class="col-header">New</h2>
            <div class="col-content overflow-y-auto h-[90%] pr-2 mt-2">
                @for (task of tasks(); track task.id) {
                    <app-task [task]="task" />
                }
            </div>
           
        </div>
        <div class=" w-full status-card">
            <h2 class="col-header">Active</h2>
            <div class="col-content overflow-y-auto h-[90%] pr-2 mt-2">
                @for (task of tasks(); track task.id) {
                    <app-task [task]="task" />
                }
            </div>
        </div>
        <div class=" w-full status-card">
            <h2 class="col-header">Closed</h2>
            <div class="col-content overflow-y-auto h-[90%] pr-2 mt-2">
                @for (task of tasks(); track task.id) {
                    <app-task [task]="task" />
                }
            </div>
        </div>
   
   </div>
</div>