@use "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #000000;
  --color-secondary: #ffffff;
}


@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
  button {
    @apply outline-0 border-0 cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded-md;
  }
}

